/* You can add global styles to this file, and also import other style files */
.container{
  display: flex;
  justify-content: space-between;
}

.vertical {
  flex-direction: column;
}

button {
  border: solid black 1px;
  border-radius: 0;
  padding: 3px;
  outline: none;
}

button:hover{
  background-color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
}

