#groupListComponent{
  width: 50vw;
  padding-top: 110px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.listItem {
  cursor: pointer;
}

.add {
  justify-content: center;
  align-items: center;
  align-content: center;
}

#addGroupButton{
  width: 100%;
  background-color: #fce2d0;
  border: 3px solid transparent;
  padding: 20px;
  margin: 20px 0 10px 0;
}

#addGroupButton:hover {
  border: 3px solid white;
  cursor: pointer;
}
