#editComponent {
  position: fixed;
  width: 500px;
  height: max-content;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  background-color: white;
}

.alertInvalid {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-wrap: wrap;
  background-color: red;
  color: white;
  padding: 5px;
  margin-top: 5px;
}

label {
  padding-right: 15px;
  width: 50%;
}

#formGroupPerson{
  display: flex;
  flex-direction: column;
}

.input{
  display: flex;
  flex-direction: column;
  background-color: white;
}

input {
  width: 100%;
  border: 1px solid #f2ffe0;
  background-color: #f2ffe0;
  padding: 5px;
}

.area {
  display: flex;
  flex-direction: row;
}

input:focus-visible{
  border-radius: 0;
  outline: none;
  background-color: #daffe3;
}

.form {
  padding: 5px;
}

.container{
  padding: 5px;
}

.button {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

button{
  width: 100%;
  border: none;
  padding: 10px;
}

.group {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.group:hover{
  cursor: default;
}

ul{
  padding: 3px;
  margin: 0;
  list-style-type: none;

}
