<article class="person" (click)="toggleExpand()">
  <section class="name container" >
    <h2>{{this.person.firstName}}</h2>
    <h2>{{this.person.lastName}}</h2>
  </section>
  <section class="details" *ngIf="expanded">
    <section class="container age">
      <h2>Age: </h2>
      <h2>{{this.person.age}}</h2>
    </section>
    <section class="container list">
      <label id="groupLabel" for="groupList">Groups</label>
      <ul id="groupList" *ngFor="let group of this.personsGroups">
       <li>ID: {{group.id}} Meeting time: {{group.meetingTime}}</li>
      </ul>
    </section>
    <section class="button container">
      <button (click)="deleteButtonClicked()">Delete</button>
      <button (click)="editButtonClicked()">Edit</button>
    </section>
  </section>
</article>
